<div class="top-navigation-bar">
  <h2 class="entity-title">Resultados exportación</h2>
</div>

<div class="admin_content_wrapper" style="background-color: #f5f5f5; margin: 0">
  <br>
  <%= partial :flash_messages_admin %>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <div class="block block-content-full">
        <div class="block-header bg-gray-lighter">
          <h3 class="block-title">Ficheros exportados</h3>
        </div>
        <div class="block-content block-content-narrow">
          <% if @export_files.size == 0 %>
          <p>No hay datos</p>
          <% else %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @export_files.each do |export_file| %>
              <tr>
                <td><%=export_file.created_at.strftime('%Y-%m-%d %H:%M:%S')%></td>
                <td><%=export_file.name%></td>
                <td>
                   <% if export_file.status == :pending %>
                     <span>En cola</span>
                   <% elsif export_file.status == :in_progress %>
                     <span>En progreso <%= export_file.number_of_records %> procesados</span>
                   <% elsif export_file.status == :error %>
                     <span>Error en la exportación</span>
                   <% elsif export_file.status == :done %>
                     <a href="/admin/integration/export/<%=export_file.id%>">Download</a>
                   <% end %>
                </td>   
                <td>
                   <% if export_file.status == :done or export_file.status == :error %>
                     <form action="/admin/integration/export/<%=export_file.id%>" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-sm btn-danger" value="Eliminar">
                     </form> 
                   <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>        
          </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>